<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Afrikaans</key>
	<string>af</string>
	<key>Albanian</key>
	<string>sq</string>
	<key>Arabic</key>
	<string>ar</string>
	<key>Azerbaijani</key>
	<string>az</string>
	<key>Basque</key>
	<string>eu</string>
	<key>Bengali</key>
	<string>bn</string>
	<key>Belarusian</key>
	<string>be</string>
	<key>Bulgarian</key>
	<string>bg</string>
	<key>Catalan</key>
	<string>ca</string>
	<key>Chinese Simplified</key>
	<string>zh-CN
</string>
	<key>Chinese Traditional</key>
	<string>zh-TW
</string>
	<key>Croatian</key>
	<string>hr</string>
	<key>Czech</key>
	<string>cs</string>
	<key>Danish</key>
	<string>da</string>
	<key>Dutch</key>
	<string>nl</string>
	<key>English</key>
	<string>en</string>
	<key>Esperanto</key>
	<string>eo</string>
	<key>Estonian</key>
	<string>et</string>
	<key>Filipino</key>
	<string>tl</string>
	<key>Finnish</key>
	<string>fi</string>
	<key>French</key>
	<string>fr</string>
	<key>Galician</key>
	<string>gl</string>
	<key>Georgian</key>
	<string>ka</string>
	<key>German</key>
	<string>de</string>
	<key>Greek</key>
	<string>el</string>
	<key>Gujarati</key>
	<string>gu</string>
	<key>Haitian Creole</key>
	<string>ht</string>
	<key>Hebrew</key>
	<string>iw</string>
	<key>Hindi</key>
	<string>hi</string>
	<key>Hungarian</key>
	<string>hu</string>
	<key>Icelandic</key>
	<string>is</string>
	<key>Indonesian</key>
	<string>id</string>
	<key>Irish</key>
	<string>ga</string>
	<key>Italian</key>
	<string>it</string>
	<key>Japanese</key>
	<string>ja</string>
	<key>Kannada</key>
	<string>kn</string>
	<key>Korean</key>
	<string>ko</string>
	<key>Latin</key>
	<string>la</string>
	<key>Latvian</key>
	<string>lv</string>
	<key>Lithuanian</key>
	<string>lt</string>
	<key>Macedonian</key>
	<string>mk</string>
	<key>Malay</key>
	<string>ms</string>
	<key>Maltese</key>
	<string>mt</string>
	<key>Norwegian</key>
	<string>no</string>
	<key>Persian</key>
	<string>fa</string>
	<key>Polish</key>
	<string>pl</string>
	<key>Portuguese</key>
	<string>pt</string>
	<key>Romanian</key>
	<string>ro</string>
	<key>Russian</key>
	<string>ru</string>
	<key>Serbian</key>
	<string>sr</string>
	<key>Slovak</key>
	<string>sk</string>
	<key>Slovenian</key>
	<string>sl</string>
	<key>Spanish</key>
	<string>es</string>
	<key>Swahili</key>
	<string>sw</string>
	<key>Swedish</key>
	<string>sv</string>
	<key>Tamil</key>
	<string>ta</string>
	<key>Telugu</key>
	<string>te</string>
	<key>Thai</key>
	<string>th</string>
	<key>Turkish</key>
	<string>tr</string>
	<key>Ukrainian</key>
	<string>uk</string>
	<key>Urdu</key>
	<string>ur</string>
	<key>Vietnamese</key>
	<string>vi</string>
	<key>Welsh</key>
	<string>cy</string>
	<key>Yiddish</key>
	<string>yi</string>
</dict>
</plist>
